body {
	color: #2a2a2a;
	background-color: white; }
h1, h2, h3, h4, h5, h6 { color: #2a2a2a; }
h1 .svgfill {
	fill: #2a2a2a; }
.verb {
	color: #2a2a2a; }
	.league:hover, .dribbble:hover, .lastfm:hover, .twitter:hover, .trakt:hover {
		background: #2a2a2a; }
.trkt_poster, .lfm_art img {
	border-color: #2a2a2a; }
#scrobbled dl a {
	color: #2a2a2a; }
#login-pop #pass-pop {
	background: whitesmoke; }
	#pass-pop:after {
		border-color: whitesmoke transparent transparent transparent; }